<div class="ui blue segment">
	<h1 class="ui header">{{category.name}}: {{category.max}}</h1><br>
	<div class="ui input">
		{{input value=newAmount type="number"}}
	</div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>{{category.amount}}</strong>
	<br><br>
	<button class="ui tiny circular icon green button" {{action "plus" category}}><i class="plus icon"></i></button>
	<button class="ui tiny circular icon red button" {{action "minus" category}}><i class="minus icon"></i></button>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="ui tiny circular icon inverted red button" {{action "delete" category}}><i class="trash icon"></i></button>
</div>