<div class="ui container">
  <br>
  <br>
  <h1 class="ui header" style="color: white">Explosive diarhhea</h1>
  <button class="ui circular icon inverted white button" {{action (mut newCat) true}}><i class="plus icon"></i></button> <br> <br>
  {{#if newCat}}
	  <div class="ui black segment">
      <button class="ui tiny inverted circular red icon button" {{action (mut newCat) false}}> <i class="angle left icon"></i> </button> <br><br>
			<div class="ui form">
				<div class="ui required field">
					<label for="">Name</label>
					{{input value=newName type="text"}}
				</div>
				<div class="ui required field">
					<label for="">Max</label>
					{{input value=newMax type="number"}}
				</div>
				<div class="ui field">
					<button class="ui inverted green button" {{action "new"}}><i class="save icon"></i>Save</button>
				</div>
			</div>
		</div>
  {{/if}}
  <div style="height: 800px">
    {{#ember-scrollable autoHide=false}}
      {{#each model as |category|}}
	      <CatSegment  @category={{category}}/> <br>
      {{/each}}
    {{/ember-scrollable}}
  </div>
</div>